/* google font lobster & permanent marker */

html {
    height: 100%;
}

body {
    background-color: #000 !important;
    background-image: url('/media/jungle.jpg'); 
    background-size: cover;
    height: calc(100vh - 164px);
}

/* Navbar */
.navbar {
    background-color: #432818;
}

.navbar-brand {
    font-family: permanent marker;
}

.navbar-brand,
.nav-link,
.search-button {
    color: #fff;
    text-transform: uppercase;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #14591d;
}

.navbar-toggler {
    border: 2px solid #fff !important;
}

.navbar-toggler-icon {
    color: #fff !important;
}

.btn:hover {
    color: #14591d;
}

/* page titles */
.new-dino-here-title {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0.8;
    border-radius: 20px;
}

/* buttons */
.shop-now-button {
    color: #fff !important;
    text-transform: uppercase;
    float: right;
}
 .btn {
    border: 2px #fff solid !important;
 }

/* Footer */
.footer {
    background-color: #432818;
    border-top: 3px solid #432818;
    text-align: center;
}

.footer li,
.footer a {
    color: #fff;
    display: inline;
}

.footer li:hover,
.footer a:hover {
    color: #14591d;
}