/* google font lobster & permanent marker */

body {
    background-color: #000 !important;
    background: url('/media/jungle.jpg') no-repeat center center fixed;
}

/* Navbar */

.topnav {
    background-color: #432818;
}

.title-link-home {
    font-family: permanent marker;
    font-size: 50px;
}

.navbar-brand,
.nav-link,
.search-button {
    color: #fff;
    text-transform: uppercase;
}

.navbar-brand:hover,
.nav-link:hover,
.search-button:hover {
    color: #28a745;
}

.navbar-toggler {
    border: 2px solid #fff !important;
}

.btn:hover {
    color: #14591d;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
 }

/* mobile navbar */

.mobile-navbar {
    background-color: #432818;
}

.dropdown-menu.show {
    background-color: #432818;
    border: 3px #28a745 solid;
}

.dropdown-item {
    background-color: #432818 !important;
    color: #fff !important;
    text-transform: uppercase;
}

.dropdown-item:hover {
    color: #28a745 !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler .navbar-toggler {
    border-color: rgb(255,255,255) !important;
} 

/* page titles */

.dino-bonanza-box {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0.8;
    text-align: justify;
    border: 3px #000 solid;
    border-radius: 20px;
}

.products-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid;
}

/* buttons */
.shop-now-button {
    color: #fff !important;
    text-transform: uppercase;
    float: right;
    border: 3px #fff solid;
    border-radius: 10px;
}

.shop-now-button:hover {
    background-color: #14591d !important;
}

 .text-info {
     color: #fff !important;
 }

 a.text-info:focus, a.text-info:hover {
    color: #28a745 !important;
}

/* search bar */

.search-bar {
    border: 3px #14591d solid;
    border-radius: 5px;
}

/* free delivery banner */

.delivery-banner {
    background-color: #14591d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px #000 solid;
}

/* image cards */

.card {
    color: #fff;
    font-variant: small-caps;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 3px #000 solid !important;
}

.card-body {
    background-color: #14591d !important;
}

.image-card {
    background-color: #432818 !important;
    flex-basis: 300px;
    padding: 10px;
}

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* add product page */

.product-management-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.add-products-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.add-product-form {
    background-color: #432818;
    color: #fff;
    margin-bottom: 20px !important;
    padding: 10px;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.add-product-add-button {
    text-transform: uppercase;
}

.new-image-button,
.add-product-add-button,
.add-product-cancel-button {
    color: #fff;
    border: 3px #000 solid !important;
}

.new-image-button:hover,
.add-product-add-button:hover,
.add-product-cancel-button:hover {
    color: #28a745;
}

/* edit Product page */

.edit-products-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.edit-product-form {
    background-color: #432818;
    color: #fff;
    margin-bottom: 20px !important;
    padding: 10px;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.add-product-cancel-button {
    color: #fff;
    border: 3px #000 solid;
}

.edit-product-update-button {
    color: #fff;
    border: 3px #000 solid !important;
    text-transform: uppercase;
}

.add-product-cancel-button:hover,
.edit-product-update-button:hover {
    color: #28a745;
}

/* product details page */

.product-details-content-box {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #000;
}

.product-tag {
    color: #fff !important;
    text-transform: uppercase;
}

.keep-shopping-text-and-chevron:hover,
.add-bag-button:hover {
    color: #28a745 !important;
}

/* shopping bag page */

.shopping-bag-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid !important;
}

.table {
    color: #fff;
}

.shopping-bag-content {
    background-color: #432818;
    color: #fff !important;
    padding: 10px;
    text-transform: uppercase;
    border: 3px #000 solid;
    border-radius: 10px;
    opacity: 0.9;
}

.empty-bag-paragraph {
    background-color: #14591d;
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
    border: 3px #000 solid !important;
    border-radius: 10px;
}

.chevron-arrow-and-keep-shopping-text {
    background-color: #14591d !important;
    text-transform: uppercase;
    border: 3px #000 solid !important;
    border-radius: 10px;
}

.btn-group-lg > .btn, .btn-lg {
    color: #fff;
    margin: 10px;
}

i.fas.fa-plus.fa-sm {
    color: white;
}

i.fas.fa-minus.fa-sm {
    color: white;
}

.btn-group-sm > .btn, .btn-sm {
    background-color: #000;
}

.btn-group-lg > .btn, .btn-lg {
    border: 3px #000 solid;
}

.chevron-arrow,
.keep-shopping-text {
    color: #fff;
}

.bag-keep-shopping-span-text,
.bag-icon,
.bag-secure-checkout-span-text {
    color: #fff;
    border: 3px #000 solid !important;
}

.bag-keep-shopping-span-text:hover,
.bag-icon:hover,
.bag-secure-checkout-span-text:hover {
    color: #28a745;
}

.update-link {
    color: #17a2b8;
}

.update-link:hover,
.remove-item:hover {
    color: #28a745;
}

.bag-total-section {
    color: #fff;
}

/* checkout page */

.order-summary-paragraph,
.form-order-paragraph,
.item-subtotal-paragraph {
    text-transform: uppercase;
}

#submit-button, .adjust-bag-and-chevron-icon {
    margin: 5px;
    border: 3px #000 solid;
}

/* checkout success page */

.checkout-success-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* add to bag */

.add-bag-chevron-arrow-and-keep-shopping-text,
.add-bag-button {
    background-color: #432818 !important;
    color: #fff !important;
    text-transform: uppercase;
    border: 3px #000 solid !important;
    border-radius: 10px;
}

.table-content {
    color: #fff !important;
    text-transform: uppercase;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* form */

.form-control {
    border: 3px #000 solid;
    height: max-content;
}

/* toast messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* success toast */

.success-toast-header {
    background-color: #432818;
    border: 2px #28a745 solid;
}

.success-text {
    color: #28a745;
    text-transform: uppercase;
}

.success-close {
    color: #28a745;
    text-shadow: 0 1px 0 #28a745;
}

.success-toast-body {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 2px #28a745 solid;
}

.bg-success {
    background-color: #28a745 !important;
}

.secure-checkout-button {
    color: #fff;
    border: 2px #28a745 solid !important;
}

.secure-checkout-button:hover {
    color: #28a745;
}

/* error toast */

.error-toast-header {
    background-color: #432818;
    border: 2px #dc3545 solid;
}

.error-text {
    color: #dc3545;
    text-transform: uppercase;
}

.error-close {
    color: #dc3545;
    text-shadow: 0 1px 0 #dc3545;
}

.error-toast-body {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 2px #dc3545 solid;
}

.bg-danger {
    background-color: #dc3545 !important;
}

/* info toast */

.info-toast-header {
    background-color: #432818;
    border: 2px #17a2b8 solid;
}

.info-text {
    color: #17a2b8;
    text-transform: uppercase;
}

.info-close {
    color: #17a2b8;
    text-shadow: 0 1px 0 #17a2b8;
}

.info-toast-body {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 2px #17a2b8 solid;
}

.bg-info {
    background-color: #17a2b8 !important;
}

/* warning toast */

.warning-toast-header {
    background-color: #432818;
    border: 2px #ffc107 solid;
}

.warning-text {
    color: #ffc107;
    text-transform: uppercase;
}

.warning-close {
    color: #ffc107;
    text-shadow: 0 1px 0 #ffc107;
}

.warning-toast-body {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 2px #ffc107 solid;
}

.bg-warning {
    background-color: #ffc107 !important;
}

/* other */

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745  !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bg-warning {
    color: #000;
    font-weight: bold;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* checkout page */

.checkout-title {
    background-color: #432818;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 3px #000 solid;
}

.checkout-content {
    background-color: #432818;
    color: #fff;
    position: relative;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    border: 3px #000 solid;
    opacity: 0.9;
}

#submit-button,
.adjust-bag-and-chevron-icon {
    color: #fff;
    text-transform: uppercase;
}

#submit-button:hover,
.adjust-bag-and-chevron-icon:hover {
    color: #28a745;
}

/* checkout success page */

.checkout-thank-you-message {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border: 3px #000 solid;
}

.checkout-order-information-message {
    background-color: #14591d;
    color: #fff;
    font-variant: small-caps;
    padding: 10px;
    border: 3px #000 solid;
}

.checkout-order-email {
    color: #000;
}

.order-confirmation-wrapper {
    background-color: #432818;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 3px #000 solid !important;
}

.checkout-all-products-button,
.back-to-profile-button {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 3px #000 solid !important;
}

.checkout-all-products-button:hover {
    color: #28a745;
}

/* Allauth form formatting */

.allauth-form-box {
    background-color: #432818;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #000;
}

.sign-in-form-header,
.sign-up-form-header {
    text-align: center;
}

.sign-up-link-text,
.sign-in-link-text {
    color: #000 !important;
    font-weight: bolder;
}

.sign-up-link-text:hover,
.sign-in-link-text:hover {
    color: #28a745 !important;
    text-decoration: none;
}

.login-home-button:hover,
.back-to-log-in-button:hover {
    color: #28a745;
}

.sign-in-button,
.sign-up-button {
    text-transform: uppercase;
    border: 2px solid #fff !important;
}

.reset-password-text:hover {
    color: #28a745 !important;
    text-decoration: none;
}

.allauth-form-inner-content {
    padding-bottom: 20px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #fff; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #432818;
    border: 3px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #28a745;
}

.allauth-form-inner-content a {
	color: #fff; /* text-info */
}

.form-control:focus {
    border-color: #28a745 !important;
}

/* profile page */

.profile-page-box {
    opacity: 0.9;
}

.profile-delivery-form {
    background-color: #432818;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.profile-delivery-information-text {
    text-align: center;
}

.profile-update-information-button {
    color: #fff;
    text-transform: uppercase;
    float: right;
}

.profile-update-information-button:hover {
    color: #28a745;
}

.profile-order-history {
    background-color: #432818 !important;
    color: #fff !important;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

.profile-order-table {
    color: #fff !important;
    text-align: center;
}

/* add Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* log in page */

.login-home-button,
.sign-in-button {
    border: 3px #000 solid !important;
}

/* log out page */

.sign-out-cancel-button {
    border: 3px solid #000 !important;
}

.sign-out-button {
    text-transform: uppercase;
}

.sign-out-cancel-button:hover {
    color: #28a745;
}

.sign-out-button:hover {
    color: #28a745;
}

/* sign up page */

.back-to-log-in-button,
.sign-up-button {
    border: 3px #000 solid !important;
}

/* Footer */

.footer {
    background-color: #432818;
    text-align: center;
    border-top: 3px black solid !important;
}

.footer li,
.footer a {
    color: #fff;
    display: inline;
}

.footer li:hover,
.footer a:hover {
    color: #14591d;
}
