<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                all products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">all Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-dino-egg-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                dinosaur eggs
            </a>
            <div class="dropdown-menu" aria-labelledby="all-dino-egg-link">
                <a href="{% url 'products' %}?category=dinosaur_eggs, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=dinosaur_eggs, sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=dinosaur_eggs" class="dropdown-item">all dinosaur eggs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-young-dino-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                baby dinosaurs
            </a>
            <div class="dropdown-menu" aria-labelledby="all-young-dino-link">
                <a href="{% url 'products' %}?category=baby_dinosaurs, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=baby_dinosaurs, sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=baby_dinosaurs" class="dropdown-item">all baby dinosaurs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-adult-dino-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                adult dinosaurs
            </a>
            <div class="dropdown-menu" aria-labelledby="all-adult-dino-link">
                <a href="{% url 'products' %}?category=adult_dinosaurs, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=adult_dinosaurs, sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=adult_dinosaurs" class="dropdown-item">all adult dinosaurs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-old-dino-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                old dinosaurs
            </a>
            <div class="dropdown-menu" aria-labelledby="all-old-dino-link">
                <a href="{% url 'products' %}?category=old_dinosaurs, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=old_dinosaurs, sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=old_dinosaurs" class="dropdown-item">all old dinosaurs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-fossils-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                fossils
            </a>
            <div class="dropdown-menu" aria-labelledby="all-fossils-link">
                <a href="{% url 'products' %}?category=dinosaur_fossils, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=dinosaur_fossils, sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=dinosaur_fossils" class="dropdown-item">all fossils</a>
            </div>
        </li>
    </ul>
</div>