.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 3px #000 solid;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #cfd7df;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 2px 2px 2px 2px #14591d;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #14591d;
}

.form-control:focus {
    border-color: #14591d;
}