{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="product-details-img-top image-fluid" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}generic-image.jpg" class="card-img-top" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="product-details-container">
                <div class="card-body product-details-content-box">
                    <h4 class="product-name">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }}</p>
                    {% if product.rating %}
                        <p class="card-text"><i class="fas fa-star"></i>{{ product.rating }} / 10</p>
                    {% else %}
                        <p class="card-text">Currently no rating</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
